<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid mb-0">
    <a class="navbar-brand" href="#">ACME</a>
    <div class="collapse navbar-collapse justify-content-center">
      <form class="d-flex form-inline">
        <div class="form-group">
          <select class="form-control form-control-sm mb-0 mr-sm-2" id="exampleFormControlSelect1">
            <option>Complexo</option>
          </select>
        </div>
        <div class="form-group">
          <select class="form-control form-control-sm mb-0 mr-sm-2" id="exampleFormControlSelect2">
            <option>Unidade Operacional</option>
          </select>
        </div>
        <div class="form-group">
          <select class="form-control form-control-sm mb-0 mr-sm-2" id="exampleFormControlSelect3">
            <option>Processo</option>
          </select>
        </div>
        <div class="form-group">
          <button class="btn btn-secondary form-control form-control-sm btn-sm mb-0 mr-sm-2">APLICAR</button>
        </div>
        <div class="form-group mr-sm-5">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-funnel c-white" viewBox="0 0 16 16">
          <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z"/>
        </svg>
        </div>
        <div class="form-group">
          <button class="btn btn-secondary form-control form-control-sm btn-sm mb-0 mr-sm-2">MAIS FILTROS</button>
        </div>
        <div class="form-group">
          <button class="btn btn-secondary form-control form-control-sm btn-sm mb-0 mr-sm-5">CONFORMIDADE</button>
        </div>
        <div class="form-group ml-sm-5 mr-sm-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-search c-white" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
        </div>
        <div class="form-group">
          <label class="c-white">NV3PORR - 25/05/2020 ás 12:30</label>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    </form>
  </div>
  </div>
</nav>
