<nav class="navbar navbar-dark">
  <form class="d-flex form-inline col-12">
    <div class="d-flex alg-rt">
      <div class="formgroup mr-4 alg-sf">
        <button class="form-control btn btn-secondary btn-sm mb-0">MAIS DETALHES</button>
      </div>
      <div class="formgroup">
        <button class="form-control navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample01"
          aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarsExample01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </form>
</nav>
